// COLOR VARIABLES
$color-primary:
#7f56d2;
$color-primary-light: #946be6;
$color-primary-dark: #7752c1;

$color-grey-light: #e5e5e5;
$color-grey-dark: #ccc;
$color-grey-darker: #626262;


$color-teal-light: #f2f7f6;
$color-teal-lighter: #fafcfc;
$color-teal-dark: #c0cfcd;

$color-black: #000;
$color-white: #fff;
$color-green: #7fd97f;


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px; 10/16 = 62.5%
}

body {
  box-sizing: border-box;
}
