.sticky {
  background: $color-primary-dark;
  position: fixed;
  z-index: 1000;
  padding: 1rem 15rem;
  box-shadow: 0 .3rem .5rem rgba($color-black, 0.2);
}

.none {
  position: relative;
  background: transparent;
  padding: 2rem 15rem 0 15rem;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-white;
  cursor: pointer;

  &__logo {
    font-size: 2rem;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      color: $color-green;
    }
  }

  ul {
    font-size: 1.6rem;
    list-style: none;
    display: flex;
    align-items: center;

    li {
      margin-right: 3rem;
      transition: all .3s;

      &:nth-child(3) {
        margin-right: 7rem;
      }

      &:hover {
        color: $color-green;
      }
    }
  }
}

.navbar {
  display: block;
}

.burger-navbar {
  display: none
}

@media only screen and (max-width: $bp-medium) {
  .burger-navbar {
    display: block;
  }
  .navbar {
    display: none;
  }
}

/* Individual item */
.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  padding-top: 6rem;
  text-align: center;
  list-style: none;
  outline: none;

  li {
    font-size: 2.5rem;
    color: $color-teal-light;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: color 0.2s;

    &:focus {
    }

    &:hover {
      color: $color-green;
    }
  }

}


/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 3.6rem;
  height: 3rem;
  left: 2rem;
  top: 2rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $color-green;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  right: 1rem;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: $color-primary-light;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  cursor: pointer;
}
